body{
    overflow-y: auto;
    
}

::-webkit-scrollbar {
    width: 6px; /* Largeur de la barre de défilement */
  }
  
  /* Zone de piste de la barre de défilement */
  ::-webkit-scrollbar-track {
    background: transparent; /* Couleur de fond de la piste de défilement */
  }
  
  /* Poignée de la barre de défilement */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Couleur de la poignée de défilement */
    border-radius: 3px; /* Bordure de la poignée de défilement */
  }